.sectionContainer {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.unity-label {
    white-space: normal;
}

.headerText {
    -unity-font-style: normal;
    font-size: 14px;
    white-space: normal;
}

.unity-foldout__toggle :hover {
}
